@import "_themes";
@import "_device";
@import "_mixins";
@import url("https://fonts.google.com/specimen/Cutive+Mono?query=cuti");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap");


.header-title__header-title--font-lg {
 
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  color: $textcolor;
  font-family: $font-text;
  font-size: 40px;
  font-weight: 400;
}

.article__about {
  @include box;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;

  .section__photo--flex--row img {
    height: 500px;
    margin: 20px;
  }

  .section__p--flex--font > p {
    font-size: 20px;
    font-family: $font;
    text-align: left;
  }
}

@media only screen and (max-width: $tablet) {
  .header-title__header-title--font-lg {
    font-size: 20px;
    font-weight: 400;
  }

  .article__about {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .section__p--flex--font > p {
    font-family: $font;
    font-weight: bold;
    text-align: center;
    align-items: center;
  }
}
