@import "_themes";
@import "_device";
@import url("https://fonts.google.com/specimen/Cutive+Mono?query=cuti");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap");

@mixin box {
  display: block;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 0.1rem solid transparent;
  font-family: $font;
}

.about-Page__header {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  color: $textcolor;
  font-family: $font-text;
  font-size: 40px;
  font-weight: 400;
}

.about-page-image__and__desc {
  @include box;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;

  .about-page__image img {
    height: 500px;
    margin: 20px;
  }

  .about-page__article > p {
    font-size: 20px;
    font-family: $font;
    text-align: left;
  }
}

@media only screen and (max-width: $tablet) {
  .about-Page__header {
    font-size: 20px;
    font-weight: 400;
  }

  .about-page-image__and__desc {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .about-page__article > p {
    font-family: $font;
    font-weight: bold;
    text-align: center;
    align-items: center;
  }
}
