@import "_themes";
@import "_device";
@import "_mixins";
@import url("https://fonts.google.com/specimen/Cutive+Mono?query=cuti");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap");

.section__icons--box {
  @include box;
}


.header-title__header-title--font-lg{

  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  color: $textcolor;
  font-family: $font;
  font-size: 40px;
  font-weight: 400;
}

.section__icons--align {
  display: flex;
  flex-direction: column;

  i a {
    color: $textcolor;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    font-family: $font-text;
    text-align: center;
  }
}

@media only screen and (max-width: $tablet) {
  .header-title__header-title--font-lg {
    font-size: 20px;
    font-weight: 400;
  }

  .section__icons--align {
    display: flex;
    flex-direction: column;

    i a {
      color: $textcolor;
      text-decoration: none;
      padding: 10px 10px 10px 10px;
      font-family: $font-text;
      text-align: center;
    }
  }
}
