@import "_themes";
@import "_device";
@import url("https://fonts.google.com/specimen/Cutive+Mono?query=cuti");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap");

@mixin box {
  display: block;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 0.1rem solid transparent;
  font-family: $font;
}

.project-page__header {
  display: block;
  font-size: 70px;
  font-weight: 800;
  font-family: $font-text;
}

.project-page__group {
  @include box;
  display: flex;
  flex-direction: row;

  .project-page__group__item  img {
    height: 250px;
    width: 500px;
    padding: 20px;
  }
}
.project-page__group__item-desc p {
  font-family: $font;
  font-weight: bold;
  text-align: left;
  
}

.project-page__group__item-link{
  align-items: center;
  text-align: center;
}


@media only screen and (max-width: $phone) {

 
  .project-page__header {
    font-size: 20px;
    font-weight: 400;
  }
  
  .project-page__group{

    display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;

  .project-page__group__item  img {
    height: 150px;
    width: 300px;
    padding: 10px;
  }
  }
  
}
